
body{
    background-color: rgb(245, 241, 241);
 }
 .navbar{
     background-color:rgb(5, 5, 5);
     color:rgb(251, 249, 249);
     text-align: center;    
     
 }
 
 .person{
     float: left;
     background-color:rgb(139, 135, 135);
     width: 33.3%;
     
     
 }
 .clearfix{
     clear: left;
 }
 
